* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}


main {
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    margin-top: 20px;
    font-size: 2rem;

    letter-spacing: 1rem;
    text-decoration: underline;
    text-underline-offset: 10px;

    margin-bottom: 50px;

}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    width: 500px;
    height: 500px;
    margin-bottom: 30px;
}

.cell {
    border: 4px dashed rgb(0, 0, 0);

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 3rem;
}

#board-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

}


#player-setup {
    display: flex;
    flex-direction: column;

    gap:50px;

    justify-self: center;
    align-items: center;
}

#reset {
    height: 80px;
    width: 200px;

    border-radius: 15px;

    font-size: 1rem;
    font-weight: bold;

    background-color: antiquewhite;
    border: none;
    cursor: pointer;

}

#reset-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#reset:hover {
    background-color: rgb(247, 238, 227);
}

#message {
    margin-top: 50px;

    font-size: 3rem;
    font-weight: 500;

    text-align: center;
}


.player-info-container > p {
    margin-bottom: 10px;
    text-decoration: underline;
    font-size: 2rem;
}

legend {
    margin-top: 10px;

    font-size: 1.5em;
}

label {
    font-size: 1.3rem;
    margin-top: 10px;}


#start-game-btn {
    height: 80px;
    width: 200px;

    border-radius: 15px;

    font-size: 1rem;
    font-weight: bold;

    background-color: antiquewhite;
    border: none;
    cursor: pointer;
}